# The usual
.DS_Store
*/.DS_Store
.svn
*/.svn

# Ignore Mathematica files and backups
*.nb
*.mx
*/*.tgz

Literature*
qsub*

# Hacks
multi-*
challenge
transferentropy-sim/multi-*
transferentropy-sim/Olav*
transferentropy-sim/Binless*
transferentropy-sim/NIPS*
transferentropy-sim/PLoS*
transferentropy-sim/*Experiment*
transferentropy-sim/Variationen
transferentropy-sim/Localcond*
transferentropy-sim/Paris
transferentropy-sim/Saalbach
transferentropy-sim/Vector*
transferentropy-sim/output

transferentropy-sim/te-extended
transferentropy-sim/mi
transferentropy-sim/te-binless-Frenzel
transferentropy-sim/te-binless-Kraskov
transferentropy-sim/te-binless-Leonenko
transferentropy-sim/te-symbolic
transferentropy-sim/xcorr
transferentropy-sim/granger
transferentropy-sim/test
