# The usual
.DS_Store
*/.DS_Store
.svn
*/.svn

# Ignore Mathematica files and backups
*.nb
*.mx
*/*.tgz

# Hacks
multi-*
transferentropy-sim/multi-*
transferentropy-sim/Olav*
transferentropy-sim/Binless*
transferentropy-sim/NIPS*
transferentropy-sim/PLoS*
transferentropy-sim/*Experiment*
transferentropy-sim/Variationen
transferentropy-sim/Localcond*
transferentropy-sim/Paris
transferentropy-sim/Saalbach
transferentropy-sim/Vector*
transferentropy-sim/output
